.page {
  background-color: #000;
  margin: 0;
  padding: 3% 10%;
}

h1,
h2,
h3,
h4,
p,
span {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .page {
    padding: 5% 0 5%;
  }
}

@media screen and (max-width: 320px) {
  .page {
    padding: 8% 0 8%;
  }
}
